* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    font-family: "noto sans";
}

.flex {
    display: flex;
}
.flex.ali-center {
    align-items: center;
}
.flex.jus-center {
    justify-content: center;
}
.flex.jus-between {
    justify-content: space-between;
}
.flex.jus-end {
    justify-content: flex-end;
}
.flex.dir-col {
    flex-direction: column;
}

.default-border {
    border: 1px solid;
}
.default-border.black {
    border-color: #000;
}
.default-border.red {
    border-color: #ff0000;
}

.default-nav-bg {
    background: linear-gradient(#949492, #5c5c5b, #2e2e2e);
}

.default-subnav-bg {
    background: linear-gradient(to left, #949492, #5c5c5b, #2e2e2e);
}

.default-nav-link a:hover {
    background: linear-gradient(#2e2e2e, #0f0f0f, #2e2e2e);
}

.pos-fixed {
    position: fixed;
}

.pos-relative {
    position: relative;
}

.navbar {
    background-color: #fff;
    height: 4rem;
    position: fixed;
    width: 100vw;
    z-index: 10;
    box-shadow: 0 0 1em black;
}

.mobile-nav-container {
    display: none;
    border: 1px solid green;
}

.search-field {
    width: 100px;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 5px;
}

@keyframes searchFieldFocus {
    from {width: 100px;}
    to {width: 300px;}
}

.search-field:focus {
    box-shadow: 1px 0 1em;
    animation: searchFieldFocus 500ms;
    width: 300px;
}

.search-button {
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 4px;
    background: linear-gradient(#255394, #3568b0, #7fb0f5);
    border-color: #2a62b0;
    border-radius: 5px;
    box-shadow: none;
}

.search-button:hover {
    background: linear-gradient(to top, #255394, #3568b0, #7fb0f5);
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 10px 0;
}

.navbar ul {
    list-style: none;
}

.nav-ul {
    position: relative;
    margin-left: 1em;
}

.nav-ul > li > a {
    padding: 1.3em 2em;
    margin: 0;
}

.nav-ul > li > a.insubmenu {
    background-color: #000;
    color: #fff;
}

.nav-ul a:hover {
    color: #fff;
    border-radius: 5px;
}

.subnav-ul {
    position: absolute;
    top: 3em;
    margin-left: 1.5em;
    justify-content: space-between;
    display: none;
    overflow: hidden;
    border-radius: 0 4px 4px 4px;
}
.subnav-ul li {
    padding: 1em 0;
}
.subnav-ul a {
    padding: 1em 2em;
}

@media screen and (max-width: 400px) {
    .navbar, .nav-ul {
        flex-direction: column;
        justify-content: flex-start;
    }
    .navbar {
        height: auto;
    }
    .mobile-nav-container {
        width: 95%;
        max-height: 4em;
        display: flex;
    }
    .mobile-menu-button {
        font-size: 2em;
    }
    .nav-ul {
        display: none;
        margin: 0;
    }
    .nav-ul > li > a {
        font-size: 1.5em;
        padding: 0;
    }
    .nav-ul li {
        margin: 4px 0;
    }
    .search-container {
        flex-direction: column;
        margin-top: 10px;
    }
    .search-field {
        width: 300px;
    }
    .search-field:focus {
        animation: none;
    }
    .search-button {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    .nav-ul.show {
        display: flex; 
        height: auto;
    }
}
